module.exports = {
    missing_fields_when_needed: {
        call: [{
            name: 'find_one_by_id'
            key: 'thing'
        }]
    },
    missing_fields_but_ok: {
        call: [{
            name: 'find_one_with_preset_field_search',
            key: 'thing'
        }]
    },
    one_level_next: {
        call: [{
            name: 'find_one_by_id',
            key: 'thing',
            params: {
                id: ':id'
            },
            fields: ['field'],
            cache: {
                listen: ['save_item:id', 'update_item:id']
            },
            next: [{
                    name: 'find_many_by_id',
                    key: 'subthings1',
                    params: {
                        sub_id: '@result.id'
                    }
                }, {
                    name: 'find_many_by_id',
                    key: 'subthings2'
                    params: {
                        sub_id: '@result.id'
                }
            }]
        }]
    },
    two_level_next_all_find_one: {
        call: [{
            name: 'find_one_by_id',
            key: 'thing',
            params: {
                id: ':id'
            },
            fields: ['field'],
            next: [{
                name: 'find_one_by_id',
                key: 'subthing1'
                params: {
                    id: '@result.id'
                },
                next: [{
                    name: 'find_many_by_id',
                    key: 'subthings2',
                    params: {
                        id: '@result.id'
                    }
                }]
            }]
        }]
    },
    two_level_next_with_find_many: {
        calls: [{
            name: 'find_many_by_id',
            key: 'things',
            params: {
                id: ':id'
            },
            fields: ['field'],
            next: [{
                name: 'find_many_by_ids',
                key: 'subthing1',
                params: {
                    ids: '$map(result,id)'
                }
                match: {
                    on: [
                        'id': 'sub1_id'
                    ]
                },
                next: [{
                    name: 'find_many_by_ids',
                    key: 'subthing2',
                    params: {
                        ids: '$map(result,id)'
                    },
                    match: {
                        on: {
                            'id': 'sub2_id'
                        }
                    }
                }]
            }]
        }]
    },
    one_level_parallel_calls: {
        calls: [{
            name: 'find_many_by_id',
            key: 'things',
            params: {

            }
        }, {
            name: 'find_one_by_id',
            key: 'thing'
        }]
    }
}