

module.exports = {
    find_one_by_id: {
        model: 'Item',
        params: {
            id: {
                required: true
            },
            field1: {},
            field2: {}
        },
        dbcall: {
            findOne: {
                _id: ':id',
                field1: ':field1',
                field2: ':field2'
            }
        }
    },
    find_one_by_search: {
        model: 'Item',
        params: {
            id: {
                required: true
            },
            field1: {},
            field2: {}
        },
        dbcall: {
            findOne: {
                _id: ':id',
                field1: ':field1',
                field2: ':field2'
            }
        }
    },
    find_one_by_fields_all_required: {
        model: 'Item',
        params: {
            id: {
                required: true
            },
            field1: {
                required: true
            },
            field2: {
                required: true
            }
        },
        dbcall: {
            findOne: {
                _id: ':id',
                field1: ':field1',
                field2: ':field2'
            }
        }
    },
    find_many_by_id: {
        model: 'Item',
        params: {
            id: {
                required: true
            }
        },
        call: {
            find: {
                id: ':id'
            }
        }
    },
    find_many_by_ids: {
        model: 'Item',
        params: {
            ids: {
                required: true
            }
        },
        dbcall: {
            find: {
                id: {
                    $in: ':ids'
                }
            }
        }
    },
    find_one_with_preset_field_search : {
        model: 'Item',
        dbcall: {
            find: {
                name: 'Chris Fricke'
            }
        }
    },
    save_item: {
        model: 'Item',
        emit: [{
            finish: 'save_item:id'
        }],
        params: {
            id: {},
            sub_id: {
                required: true
            }
        },
        dbcall: {
            save: true
        }
    },
    update_item: {
        model: 'Item',
        emit: {
            finish: 'update_item:sub_id'
        },
        params: {
            id: { 
                required: true
            },
            sub_id: {
                required: true
            },
            field1: {
                required: true
            }
        },
        dbcall: {
            update: [{
                $and: [{ _id: ':id' }, { sub_id: ':sub_id' }]
            }, {
                $set: { field1: ':field1' }
            }, { 
                'sort': 'descending'
            }]
        }
    }
}