

module.exports = {
    find_one_by_id: {
        type: 'Item',
        params: {
            id: {
                required: true
            },
            field1: {},
            field2: {}
        },
        call: {
            findOne: {
                _id: ':id',
                field1: ':field1',
                field2: ':field2'
            }
        }
    }
}